@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');

html{
    box-sizing: border-box;
}

body{
    margin:0;
    min-height:100vh;
    color:#fff;
    background-color:#555;
    font-family: spartan, "sans-serif";
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Player container */
.player-container{ 
    width:400px;
    height:520px;
    background-color:rgb(7, 7, 14);
    border-radius:30px;
    box-shadow: 0 10px 30px 5px rgba(0,0,0,0.3);
}

/* Song image container */
.img-container{
    position:relative;
    top:-50px;
    width:300px;
    height:300px;
    margin:0 auto;
}

.img-container img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:30px;
    box-shadow: 0 5px 30px 5px rgba(255,255,255,0.5);
}

/* Control Section */
.control-container{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
    width:100%;
    min-height:200px;
}

/* Title and Artist */
h2, 
h3{
    margin:0 0 15px 0;
    text-align: center;
}

h3{
    font-size:15px;
    font-weight:400;
}

/* Progress Bar */
.progress-container{
    width:80%;
    height:8px;
    background-color: cornsilk;
    border-radius:10px;
    cursor:pointer;
}

.progress-container:hover{
    box-shadow:0 0 5px 2px rgba(255,255,255,0.8)
}

.progress{
    width:0%;
    height:100%;
    background-color: blue;
    border-radius:10px;
}

.duration-wrapper{
    display:flex;
    justify-content:space-between;
    width:80%;
}

.current-time,
.duration{
    margin:5px;
    font-size:12px;
    user-select: none;
}


/* Controls */
.player-controls{
    display:flex;
    justify-content: center;
    width:80%;
    margin-top:30px;
    user-select:none;
}

.button-container{
    margin:0 auto;
    padding-left:30px;
}

.player-controls .fas{
    font-size:30px;
    margin-right:30px;
    cursor:pointer;
}

.player-controls .fas:hover{
    filter:brightness(80%);
}


/* Media Query: Mobile */
@media screen and (max-width:350px){
    .player-container{
        width:95vw;
        height:480px;
    }

    .img-container{
        width:260px;
        height:260px;
    }

    .img-container{
        width:230px;
        height:230px;
    }

    /* Title and Artist */
    h2{
        font-size:20px;
    }

    h3{
        font-size:15px;
    }

    
}

/* Media query: Galaxy fold */
@media screen and (max-width:280px){
    /* Controls */
    .player-controls .fas{
        margin-right:20px;
    }
}